<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="diablo_plus2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.002707 -0.0049409 0.15092"
        rpy="0 0 0" />
      <mass
        value="11.4726" />
      <inertia
        ixx="0.8371974"
        ixy="-0.06254957"
        ixz="-0.01618499"
        iyy="0.8708397"
        iyz="0.003006719"
        izz="0.3425067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip">
    <inertial>
      <origin
        xyz="-0.033875 0.083817 -0.025481"
        rpy="0 0 0" />
      <mass
        value="2.0" />
      <inertia
        ixx="0.01137421"
        ixy="0.00070511460"
        ixz="0.00124554"
        iyy="0.0082006541"
        iyz="0.0029798900"
        izz="0.0060506903" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint"
    type="revolute">
    <origin
      xyz="0 0.0428 0.075997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="left_knee">
    <inertial>
      <origin
        xyz="0.085224 -0.0055133 -0.069937"
        rpy="0 0 0" />
      <mass
        value="2.0" />
      <inertia
        ixx="0.0044665319"
        ixy="1.2345077E-05"
        ixz="-0.00023975799"
        iyy="0.0046256777"
        iyz="-0.00022848392"
        izz="0.0002702575" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="-0.15051 0.11148 -0.1317"
      rpy="0 0 0" />
    <parent
      link="left_hip" />
    <child
      link="left_knee" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-7.0925E-06 0.017953 1.1379E-05"
        rpy="0 0 0" />
      <mass
        value="1.63" />
      <inertia
        ixx="0.0038687294"
        ixy="3.4674606E-07"
        ixz="-6.1772612E-09"
        iyy="0.0073579312"
        iyz="-4.5317897E-09"
        izz="0.0038687049" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="revolute">
    <origin
      xyz="0.16611 0.02266 -0.11138"
      rpy="0 0 0" />
    <parent
      link="left_knee" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="20"
      velocity="30" />
  </joint>
  <link
    name="right_hip">
    <inertial>
      <origin
        xyz="-0.03368 -0.083816 -0.025625"
        rpy="0 0 0" />
      <mass
        value="2.0" />
      <inertia
        ixx="0.01137421"
        ixy="0.00070511460"
        ixz="0.00124554"
        iyy="0.0082006541"
        iyz="0.0029798900"
        izz="0.0060506903" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="revolute">
    <origin
      xyz="0 -0.0528 0.075997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="right_knee">
    <inertial>
      <origin
        xyz="0.085339 -0.0022639 -0.069432"
        rpy="0 0 0" />
      <mass
        value="2.0" />
      <inertia
        ixx="0.0044665319"
        ixy="1.2345077E-05"
        ixz="-0.00023975799"
        iyy="0.0046256777"
        iyz="-0.00022848392"
        izz="0.0002702575" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="-0.15071 -0.10364 -0.13147"
      rpy="0 0 0" />
    <parent
      link="right_hip" />
    <child
      link="right_knee" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-1.1629E-05 -0.017953 -6.6772E-06"
        rpy="0 0 0" />
      <mass
        value="1.63" />
      <inertia
        ixx="0.0038687294"
        ixy="3.4674606E-07"
        ixz="-6.1772612E-09"
        iyy="0.0073579312"
        iyz="-4.5317897E-09"
        izz="0.0038687049" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="revolute">
    <origin
      xyz="0.1666 -0.03046 -0.11066"
      rpy="0 0 0" />
    <parent
      link="right_knee" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="20"
      velocity="30" />
  </joint>
</robot>